*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
SubscribeManager/.idea/workspace.xml
SubscribeManager/local.properties
SubscribeManager/.idea/workspace.xml
SubscribeManager/local.properties
SubscribeManager/.idea/workspace.xml
SubscribeManager/.idea/compiler.xml
SubscribeManager/.idea/gradle.xml
SubscribeManager/.idea/misc.xml
SubscribeManager/build.gradle
SubscribeManager/.idea/misc.xml
SubscribeManager/build.gradle
SubscribeManager/.idea/gradle.xml
SubscribeManager/.idea/misc.xml
